package showcase

import (
	"github.com/templui/templui/internal/components/avatar"
	"github.com/templui/templui/internal/components/icon"
)

templ AvatarWithIcon() {
	@avatar.Avatar() {
		@icon.Camera(icon.Props{
			Size:  22,
			Class: "text-muted-foreground",
		})
	}
}
