package showcase

import (
	"github.com/templui/templui/internal/components/label"
	switchcomp "github.com/templui/templui/internal/components/switch"
)

templ SwitchDisabled() {
	<div class="flex items-center gap-2">
		@switchcomp.Switch(switchcomp.Props{
			ID:       "toggle-disabled",
			Disabled: true,
		})
		@label.Label(label.Props{
			For: "toggle-disabled",
		}) {
			Airplane Mode
		}
	</div>
}
