package showcase

import (
	"github.com/templui/templui/internal/components/label"
	switchcomp "github.com/templui/templui/internal/components/switch"
)

templ SwitchWithLabel() {
	<div class="flex items-center gap-2">
		@switchcomp.Switch(switchcomp.Props{
			ID: "toggle-with-label",
		})
		@label.Label(label.Props{
			For: "toggle-with-label",
		}) {
			Airplane Mode	
		}
	</div>
}
